<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/styles.css" />
  <title>About</title>
</head>

<body>
  <h1>{{>header}}</h1>
  <img src="/img/5A440325-37D1-4393-BBE3-43CF412BAA8A.jpeg" alt="me" />
  {{>footer}}
</body>

</html>